<div class="container">
    <div class="row text-center">
        <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
            Copyright &copy; {{ site.name }} <time datetime="{{ 'now' | date: '%Y' }}">{{ 'now' | date: '%Y' }}</time>
        </div>
        <div class="clearfix visible-xs-block"></div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
            {% include snips/social.html social=site.social %}
        </div>
        <div class="clearfix visible-xs-block"></div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
            <ul class="list-inline">
                <li><a href="#">Privacy Policy</a>
                </li>
                <li><a href="#">Terms of Use</a>
                </li>
            </ul>
        </div>
    </div>
</div>
