<div class="jumbotron content-img" style="{% if include.cta.image %}color: #fff;background: #000;{% endif %}">
  {% if include.cta.image %}
  <div class="jumbotron-background" style="background-image: url('{{include.cta.image.path | default: include.cta.image}}');{% if include.cta.image.center %}background-position: {{include.cta.image.center}};{% endif %}{% if include.cta.image.opacity %}opacity:{{include.cta.image.opacity}}{% endif %}">&nbsp;</div>
  {% endif %}
  {% if include.cta.title %}<span class="h1">{{ include.cta.title }}</span>{% endif %}
  {{ include.cta.body | markdownify }}
  {% assign shareurl = include.cta.url | default: "/" %}
  <a href="{{shareurl}}" title="{{ include.cta.title }}">
    <button class="btn btn-success btn-lg">{{ include.cta.cta }}</button>
  </a>
</div>
