---
layout: base
templates:
  metadata:
    schema: ["post.json"]
---
<div class="container">
  <div class="row">
    <main role="main" class="col-md-9">
      <article id="content">
      	{%if page.image or page.draft_img %}
      	<div class="block-2x1 content-img">
         <img class="block-fill" src="{{page.image.path | default: page.draft_img}}" {% if page.image.alt %} alt="{{page.image.alt}}" {% endif %} /> 
        </div>
      	{% endif %}
        <h1 class="{% if page.isdraft %}text-danger{% endif %}">{{page.headline | default: page.title}}{% if page.isdraft %} (DRAFT){% endif %} <small>{% for tag in page.tags %}<a href="{{ '/blog/tags/' | pepend: site.baseurl}}#{{ tag | slugify }}" class="label label-info">#{{ tag }}</a> {% endfor %}</small></h1>
        <span class="pull-right">{% if page.author and site.data.authors[page.author] %}By: <a href="#author">{{ site.data.authors[page.author].name }}</a> | {% endif %}<time datetime="{{ page.date | date: "%Y-%m-%d" }}" >{{ page.date | date: "%b %-d, %Y" }}</time></span>
      	<hr>
        <div class="markdown-body">
      	{{ content }}
        </div>
      	{% if page.author and site.data.authors[page.author] %}
        <div id="author">
          {% include snips/author.html author=page.author %}
        </div>
      	{% endif %}
    	</article>
    </main>
    <aside role="complementary" class="col-md-3">
      <hr class="hidden-md hidden-lg">
      {% unless page.isdraft %}
      <div class="hidden-sm hidden-xs">
        <h4 class="">Share this article</h4>
        {% include snips/share.html class="h1 text-center"%}
        <hr>
      </div>
      {% endunless %}
      <div>
        <h4>Get Weekly Updates</h4>
        <div class="visible-lg-block visible-sm-block visible-xs-block">
          {% include snips/mailchimp.html inline=true label="I'm in!" %}
        </div>
        <div class="visible-md-block">
          {% include snips/mailchimp.html label="I'm in!" %}
        </div>
      </div>

      <hr>
      <div class="hidden-sm hidden-xs">
        <h4 class="">Follow Us</h4>
        {% include snips/social.html social=site.social class="text-center" %}
        <hr>
      </div>
    </aside>
  </div>
</div>