---
layout: base
---
<div class="container">
  <div class="row">
    <main role="main" class="col-md-9">
      <article id="content">
      	{%if page.image %}
        <div class="block-2x1 content-img">
         <img class="block-fill" src="{{page.image.path | default: page.draft_img}}" {% if page.image.alt %} alt="{{page.image.alt}}" {% endif %} /> 
        </div>
      	{% endif %}
      	{{ content }}
    	</article>
    <aside>
    <!-- Remarkbox - readers want to communicate with you -->
      <!-- <script type="text/javascript" src="https://demo.remarkbox.com/static/js/iframe-resizer/iframeResizer.min.js"></script><script type="text/javascript">thread_fragment=window.location.hash; thread_uri=window.location.href; document.write('<iframe id="remarkbox" src="https://demo.remarkbox.com/embed?thread_uri=' + thread_uri + '" title="remarkbox" width="100%" style="width: 100% !important; border: none !important; overflow: hidden !important;" allowtransparency="true" scrolling="no" horizontalscrolling="no" verticalscrolling="no" tabindex="0" seamless></iframe>'); iFrameResize({inPageLinks: true, initCallback: function(iframe){iframe.iFrameResizer.moveToAnchor(thread_fragment);}}, document.getElementById("remarkbox") );</script><noscript><iframe id="remarkbox" src="https://demo.remarkbox.com/embed?nojs=true" frameborder="0" style="height: 600px; width: 100%; border: none !important;" allowtransparency="true" height="600px" width="100%"></iframe></noscript> -->
    </aside>
    </main>
    <aside role="complementary" class="col-md-3">
      <hr class="hidden-md hidden-lg">

      <div class="visible-lg-block">
        <p>{{site.description}}</p>
      </div>
      <div class="hidden-sm hidden-xs">
        <h4 class="visible-md-block">Follow Us</h4>
        {% include snips/social.html social=site.social class="text-center" %}
        <hr>
      </div>
      <div>
        <h4>Get Weekly Updates</h4>
        <div class="visible-lg-block visible-sm-block visible-xs-block">
          {% include snips/mailchimp.html inline=true label="I'm in!" %}
        </div>
        <div class="visible-md-block">
          {% include snips/mailchimp.html label="I'm in!" %}
        </div>
      </div>
      
      <hr class="hidden-md hidden-lg">
    </aside>
  </div>
</div>